<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Inserir</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<a href="/usuario/select">Ver todos</a> <br> <br>

<form action="/usuario/insert" method="POST" modelAttribute="usuario">
    Nome do Usuario:<br>
    <input type="text" name="nome"><br>
    <br>
    Email do Usuario:<br>
    <input type="text" name="email"><br>
    <br>
    Senha do Usuario:<br>
    <input type="text" name="senha"><br>
    <br>
    Data de Nascimento:<br>
    <input type="date" name="dataNascimento"><br>
    <br>
    Ranking do Usuario:<br>
    <input type="number" name="ranking"><br>
    <input type="submit" value="Inserir">
</form>
</body>
</html>