<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>CRUD Campeonatos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<a href="insert">Inserir novo</a>
<table style="width:100%">
    <tr>
        <th>ID</td>
        <th>Descrição</td>
        <th>Local</th></td>
        <th>Máximo de jogadores/times</th></td>
        <th>Data</th></td>
        <th>Tipo do Campeonato</th></td>
        <th>id do esporte</th></td>
        <th>Excluir?</td>
        <th>Alterar?</td>
    </tr>
    <tr th:each="campeonato : ${campeonato}">
        <td th:text="${campeonato.id}"></td>
        <td th:text="${campeonato.descricao}"></td>
        <td th:text="${campeonato.local}"></td>
        <td th:text="${campeonato.maxJogadoresOuTimes}"></td>
        <td th:text="${campeonato.dataHora}"></td>
        <td th:text="${campeonato.tipoCampeonato}"></td>
        <td th:text="${campeonato.idEsporte}"></td>
        <td><a th:href="@{/campeonato/delete(id=${campeonato.id})}">Deletar</a></td>
        <td><a th:href="@{/campeonato/update(id=${campeonato.id})}">Alterar</a></td>
    </tr>
</table>
</body>
</html>