<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>CRUD Time</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<a href="insert">Inserir novo</a>
<table style="width:100%">
    <tr>
        <th>ID</td>
        <th>Nome</td>
        <th>Máximo de Jogadores</th></td>
        <th>Excluir?</td>
        <th>Alterar?</td>
    </tr>
    <tr th:each="time : ${time}">
        <td th:text="${time.id}"></td>
        <td th:text="${time.nome}"></td>
        <td th:text="${time.maxJogadores}"></td>
        <td><a th:href="@{/time/delete(id=${time.id})}">Deletar</a></td>
        <td><a th:href="@{/time/update(id=${time.id})}">Alterar</a></td>
    </tr>
</table>
</body>
</html>