<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>CRUD Usuarios</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<a href="insert">Inserir novo</a>
<table style="width:100%">
    <tr>
        <th>ID</td>
        <th>Nome</td>
        <th>E-mail</td>
        <th>Senha</td>
        <th>Data de Nascimento</td>
        <th>Ranking</td>
        <th>Excluir?</td>
        <th>Alterar?</td>
    </tr>
    <tr th:each="usuario : ${usuario}">
        <td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nome}"></td>
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.senha}"></td>
        <td th:text="${usuario.dataNascimento}"></td>
        <td th:text="${usuario.ranking}"></td>
        <td><a th:href="@{/usuario/delete(id=${usuario.id})}">Deletar</a></td>
        <td><a th:href="@{/usuario/update(id=${usuario.id})}">Alterar</a></td>
    </tr>
</table>
</body>
</html>