<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Atualizar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/esporte/update" method="POST" modelAttribute="esporte">

    Id:<br>
    <input type="text" name="id" th:value="${esporte.id}" readOnly="true"><br>
    <br>
    Nome do Esporte:<br>
    <input type="text" name="nome" th:value="${esporte.nome}"><br>
    <br>0
    Descrição do Esporte:<br>
    <input type="text" name="descricao" th:value="${esporte.descricao}"><br>


    <input type="submit" value="Atualizar">
</form>
</body>
</html>