<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Atualizar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/campeonato/update" method="POST" modelAttribute="campeonato">
    Id Campeonato:<br>
    <input type="text" name="id" th:value="${campeonato.id}" readOnly="true"><br>
    <br>
    Descrição:<br>
    <input type="text" name="descricao" th:value="${campeonato.descricao}" ><br>
    <br>
    Local:<br>
    <input type="text" name="local" th:value="${campeonato.local}" ><br>
    <br>
    Maximo de Jogadores ou Times:<br>
    <input type="number" name="maxJogadoresOuTimes" th:value="${campeonato.maxJogadoresOuTimes}" ><br>
    <br>
    Data e Hora:<br>
    <input type="text" name="dataHora" th:value="${campeonato.dataHora}" ><br>
    <br>
    Tipo Campeonato:<br>
    <input type="text" name="tipoCampeonato" th:value="${campeonato.tipoCampeonato}" ><br>
    <br>
    Id Esporte:<br>
    <input type="text" name="idEsporte" th:value="${campeonato.idEsporte}" ><br>
    <br>
    <input type="submit" value="Inserir">
</form>
</body>
</html>